#info {
  display: flex;
}

table {
  margin: 5%;
  width: 40%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #C0C0C0;
}

#pointsTable tbody tr :hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}

.selectedRow{
  background-color: blue;
  color: white;
}

audio {
  width: 100%;
}